<section class="bg-dark" id="about">
    <div class="container text-center" style="margin-bottom: 45px; margin-top: -45px;">
        <div class="call-to-action">
            <h1 style="font-weight: 600;">「ネット・ゲーム依存症」とは？</h1>
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <a href="https://www.who.int/standards/classifications/frequently-asked-questions/gaming-disorder" class="portfolio-box">
                    <img src="img/portfolio/who.svg" class="img-responsive" alt="" style="margin-bottom: 25px; max-width: 100%; box-sizing: border-box;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ゲーム障害
                            </div>
                            <div class="project-name">
                                クリックして詳細を見る
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">「ゲーム障害」by WHO</h2>
                <hr class="light">
                <p class="text-faded">ビデオゲームの使用による依存症を包括する総称です。2019年、WHO（世界保健機関）はこれを「ゲーム障害」としてICD-11に定義しました。</p>
                <p class="text-faded">しかし、実際にはゲームだけでなくインターネットやSNSの画面エンターテイメントにも関連しており、専門家の間で「ネット・ゲーム依存症」と呼称されることもあります。</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">診断基準の３点</h2>
                <hr class="light">
                <p class="text-faded">1. ゲームやネット利用に対する制御の欠如（例：開始や頻度のコントロールができない）</p>
                <p class="text-faded">2. 他の生活の興味や日常活動（趣味、睡眠など）よりもゲームやネット利用が優先される </p>
                <p class="text-faded">3. 否定的な結果が生じてもなお、ゲームやネット利用を継続または増加させる（例：成績の低下、人間関係の悪化など）</p>
                <p class="text-faded">これらの状態が12か月以上にわたって認められることが診断の条件となります。</p>
            </div>
        </div>
    </div>
</section>

<aside class="bg-primary" id="about">
    <div class="container text-center">
        <h2 style="margin-bottom: 30px; max-width: 100%; box-sizing: border-box;">あなたは一人ではありません</h2>
        <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">240万人</h2>
                <hr class="light">
                <p class="text-faded">人口の男性の約3％、女性の約1％が画面中毒です。</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">99%</h2>
                <hr class="light">
                <p class="text-faded">治療が必要でも受けない画面中毒患者は1％未満で、多くは自己否認が原因です。</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">関連診断</h2>
                <hr class="light">
                <p class="text-faded">画面中毒患者の約25％はADHDを抱えており、約25％はうつ病を抱えています。また、引きこもりになるリスクが高いです。</p>
            </div>
        </div>
    </div>
</aside>