<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 data-lang="jp" style="display: none;">画面の依存から解放を目指す拠点</h1>
            <h1 data-lang="en">Imagine a society without screen addicted people</h1>
            <hr>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll" data-lang="jp" style="display: none;">続きを読む</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll" data-lang="en">Continue Reading</a>
        </div>
    </div>
</header>
