<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Rextec</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about" data-lang="jp" style="display: none;">画面中毒について</a>
                    <a class="page-scroll" href="#about" data-lang="en">Screen Addiction</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services" data-lang="jp" style="display: none;">親と教育者向けガイド</a>
                    <a class="page-scroll" href="#services" data-lang="en">Guidance</a>
                </li>
                <li>
                    <a class="page-scroll" href="#aside" data-lang="jp" style="display: none;">助けを求める</a>
                    <a class="page-scroll" href="#aside" data-lang="en">Getting Help</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact" data-lang="jp" style="display: none;">私たちについて</a>
                    <a class="page-scroll" href="#contact" data-lang="en">About us</a>
                </li>
                <li class="nav-item">
                    <div class="language-toggle">
                        <label class="switch">
                            <input type="checkbox" id="languageToggle">
                            <span class="slider round"></span>
                        </label>
                        <span id="languageLabel">JP</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
