<section class="bg-dark" id="about">
    <div class="container text-center" style="margin-bottom: 45px; margin-top: -45px;">
        <div class="call-to-action">
            <h1 data-lang="jp" style="font-weight: 600;">「ネット・ゲーム依存症」とは？</h1>
            <h1 data-lang="en" style="font-weight: 600; display: none;"> What is Gaming & Internet Disorder?</h1>
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <a href="https://www.who.int/standards/classifications/frequently-asked-questions/gaming-disorder" class="portfolio-box">
                    <img src="/img/portfolio/who.svg" class="img-responsive" alt="" style="margin-bottom: 25px; max-width: 100%; box-sizing: border-box;">
                    <div class="portfolio-box-caption" data-lang="jp">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ゲーム障害
                            </div>
                            <div class="project-name">
                                クリックして詳細を見る
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-box-caption" data-lang="en" style="display: none;">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gaming Disorder
                            </div>
                            <div class="project-name">
                                Click to see details
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center" data-lang="jp">
                <h2 class="section-heading">「ゲーム障害」by WHO</h2>
                <hr class="light">
                <p class="text-faded">ビデオゲームの使用による依存症を包括する総称です。2019年、WHO（世界保健機関）はこれを「ゲーム障害」としてICD-11に定義しました。</p>
                <p class="text-faded">しかし、実際にはゲームだけでなくインターネットやSNSの画面エンターテイメントにも関連しており、専門家の間で「ネット・ゲーム依存症」と呼称されることもあります。</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center" data-lang="en" style="display: none;">
                <h2 class="section-heading">Gaming Disorder by WHO</h2>
                <hr class="light">
                <p class="text-faded">A general term that encompasses addiction to video game use. In 2019, WHO (World Health Organization) defined this as "Gaming Disorder" in ICD-11.</p>
                <p class="text-faded">However, in reality, it is related not only to games but also to screen entertainment such as the internet and social media, and is sometimes referred to as "Internet and Gaming Disorder" among experts.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center" data-lang="jp">
                <h2 class="section-heading">診断基準の３点</h2>
                <hr class="light">
                <p class="text-faded">1. ゲームやネット利用に対する制御の欠如（例：開始や頻度のコントロールができない）</p>
                <p class="text-faded">2. 他の生活の興味や日常活動（趣味、睡眠など）よりもゲームやネット利用が優先される </p>
                <p class="text-faded">3. 否定的な結果が生じてもなお、ゲームやネット利用を継続または増加させる（例：成績の低下、人間関係の悪化など）</p>
                <p class="text-faded">これらの状態が12か月以上にわたって認められることが診断の条件となります。</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center" data-lang="en" style="display: none;">
                <h2 class="section-heading">The 3 Diagnostic Criterias</h2>
                <hr class="light">
                <p class="text-faded">1. Lack of control over gaming or internet use (e.g., inability to control the start or frequency)</p>
                <p class="text-faded">2. Gaming or internet use takes precedence over other interests and daily activities (e.g., hobbies, sleep)</p>
                <p class="text-faded">3. Continuation or increase of gaming or internet use despite negative consequences (e.g., declining grades, deteriorating relationships)</p>
                <p class="text-faded">The condition must be recognized for more than 12 months to meet the diagnostic criteria.</p>
            </div>
        </div>
    </div>
</section>

<aside class="bg-primary" id="about" data-lang="jp">
    <div class="container text-center">
        <h2 style="margin-bottom: 30px; max-width: 100%; box-sizing: border-box;">あなたは一人ではありません</h2>
        <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">240万人</h2>
                <hr class="light">
                <p class="text-faded">人口の男性の約3％、女性の約1％が画面中毒です。</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">99%</h2>
                <hr class="light">
                <p class="text-faded">治療が必要でも受けない画面中毒患者は1％未満で、多くは自己否認が原因です。</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">関連診断</h2>
                <hr class="light">
                <p class="text-faded">画面中毒患者の約25％はADHDを抱えており、約25％はうつ病を抱えています。また、引きこもりになるリスクが高いです。</p>
            </div>
        </div>
    </div>
</aside>

<aside class="bg-primary" id="about" data-lang="en" style="display: none;">
    <div class="container text-center">
        <h2 style="margin-bottom: 30px; max-width: 100%; box-sizing: border-box;">You are not alone.</h2>
        <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">2.4 million in Japan</h2>
                <hr class="light">
                <p class="text-faded">3% of male population and 1% of female population is regarded as screen addicted.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">99.9%</h2>
                <hr class="light">
                <p class="text-faded">Less than 0.1% of screen addicted people receive treatment, and most of them are due to self-denial.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">Related Diagnoses</h2>
                <hr class="light">
                <p class="text-faded">About 25% of screen addicted patients have ADHD, and about 25% have depression. They are also at high risk of becoming hikikomori.</p>
            </div>
        </div>
    </div>
</aside>