<section class="bg-dark" id="contact">
    <div class="container text-center" data-lang="jp" style="display: none;">
        <div class="call-to-action">
            <h2>仙台市で「ネット・ゲーム依存症」に対応するクリニック・相談窓口</h2>
            <!-- <hr class="light"> -->
            <a href="https://kurihama.hosp.go.jp/hospital/net_list.html" class="btn btn-default btn-xl wow">
                近くのクリニックがない？
                こちらをクリック
            </a>
        </div>
    </div>
    <div class="container text-center" data-lang="en">
        <div class="call-to-action">
            <h2>Treatment or consultations in Touhoku Region</h2>
            <!-- <hr class="light"> -->
            <a href="https://kurihama.hosp.go.jp/hospital/net_list.html" class="btn btn-default btn-xl wow">
                No clinics nearby?
                Click here
            </a>
        </div>
    </div>
</section>
