<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2 data-lang="en">Gaming & Internet Disorder</h2>
            <h2 data-lang="en">A formal Diagnosis</h2>
            <h2 data-lang="jp" style="display: none;">
                ネット・ゲーム依存症は正式な障害である
            </h2>
            <hr>
            <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll" data-lang="jp" style="display: none;">続きを読む</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll" data-lang="en">Continue Reading</a>
        </div>
    </div>
</header>
