<section class="no-padding" id="portfolio">
    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px;">
    
        <div class="row no-gutter">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="https://tohokukai.com/medical/counseling.html" class="portfolio-box">
                    <img src="/img/portfolio/tohokukai_hospital.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" data-lang="jp" style="display: none;">
                                宮城県・仙台市
                            </div>
                            <div class="project-category text-faded" data-lang="en">
                                Miyagi Prefecture - Sendai City
                            </div>
                            <div class="project-name" data-lang="jp" style="display: none;">
                                東北会病院
                            </div>
                            <div class="project-name" data-lang="en">
                                Touhokukai Hospital
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://www.tfu.ac.jp/hospital/program/02.html" class="portfolio-box">
                    <img src="/img/portfolio/touhokufukushi.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                宮城県・仙台市
                            </div>
                            <div class="project-name">
                                東北福祉大学せんだんホスピタル
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="https://www.city.sendai.jp/seshin-kanri/kurashi/kenkotofukushi/kenkoiryo/sodan/seshinhoken/heartport/sodan/kenko.html" class="portfolio-box">
                    <img src="/img/portfolio/sendai.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" data-lang="jp" style="display: none;">
                                宮城県・仙台市
                            </div>
                            <div class="project-category text-faded" data-lang="en">
                                Miyagi Prefecture - Sendai City
                            </div>
                            <div class="project-name" data-lang="jp" style="display: none;">
                                依存症関連の相談
                            </div>
                            <div class="project-name" data-lang="en">
                                Addiction Consultations
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>

<section>
    <div class="container text-center">
        <div class="call-to-action">
            <h2 data-lang="jp" style="display: none;">支援団体</h2>
            <h2 data-lang="en">Supported By</h2>
        </div>  
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                <a href="https://www.ggi.tohoku.ac.jp">
                    <img src="/img/portfolio/green_goal.png" class="img-responsive">
                    <!-- <h3>org 1</h3> -->
                    <!-- <p class="text-muted">org 1</p> -->
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                <a href="https://www.ggi.tohoku.ac.jp">
                    <img src="/img/portfolio/tokai_logo_ai.png" class="img-responsive" style="margin-top: 25px;">
                    <!-- <h3>org 2</h3> -->
                    <!-- <p class="text-muted">org 1</p> -->
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                <a href="https://www.studentinnovationbyliu.se/">
                    <img src="/img/portfolio/test_innovation.png" class="img-responsive" style="margin-left: 15px;">
                    <!-- <p class="text-muted">org 3</p> -->
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-primary" id="contact">
    <!-- <div class="bg-primary"> -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" data-lang="jp" style="display: none;">お問い合わす</h2>
                <h2 class="section-heading" data-lang="en">Inquieries</h2>
            </div>
            
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <a id="emailLink" href="mailto:{{ site.email }}" data-user="service" data-domain="rextec" data-tld="se">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color: white"></i>
                <p data-lang="jp" style="display: none; color: white"> メールをみる</p>
                <p data-lang="en" style="color: white">View Email</p>
                <!-- <p style="color: white">service@rextec.se{{ site.email }}</p> -->
            </a>
        </div>
        <div class="container">
            <!-- Copyright section -->
            <div class="row text-center" style="margin-bottom: -150px;margin-top: 150px; color: rgb(255, 255, 255);">
                <p class="copyright-text">© 2025 Rexcel Technologies AB</p>
            </div>
        </div>

    <!-- </div> -->
</aside>
