<section id="services">
    <div class="container" data-lang="jp">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">できることは？</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" data-lang="en" style="display: none;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What can you do?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <!-- <img src="img/portfolio/father_son.png" class="img-responsive" alt="" style="margin-top: 70px; margin-bottom: 50px; max-width: 100%; box-sizing: border-box;"> -->
                    <img src="/img/portfolio/father_son.png" class="img-responsive" style="margin-left: 10px">
                    <h3 data-lang="jp">親子で話し合う</h3>
                    <p class="text-muted" data-lang="jp">画面の使用時間だけでなく、子どもが画面で何をしているのかについても話し合いましょう。</p>
                    <h3 data-lang="en" style="display: none;">Talk with your child</h3>
                    <p class="text-muted" data-lang="en" style="display: none;">Talk about not only the time spent on the screen but also what your child is doing on the screen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <!-- <img src="img/portfolio/sumaho.png" class="img-responsive" alt="" style="max-width: 100%; box-sizing: border-box;">                     -->
                    <img src="/img/portfolio/sumaho.png" class="img-responsive" style="margin-left: 40px">
                    <h3 data-lang="jp">サインを見逃さない</h3>
                    <p class="text-muted" data-lang="jp">引きこもりがちになる、画面使用中に邪魔されると苛立つ、成績が落ちるなどのサインに注意しましょう。</p>
                    <h3 data-lang="en" style="display: none;">Don't miss the signs</h3>
                    <p class="text-muted" data-lang="en" style="display: none;">Be aware of signs such as becoming withdrawn, getting irritated when interrupted during screen use, and declining grades.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <!-- <img src="img/portfolio/nurse.png" class="img-responsive" alt="" style="margin-top: 70px; margin-bottom: 45px; margin-left: 15%; max-width: 100%; box-sizing: border-box;">                     -->
                    <img src="/img/portfolio/nurse.png" class="img-responsive" style="margin-left: 50px">
                    <h3 data-lang="jp">心配な場合は専門家に相談</h3>
                    <p class="text-muted" data-lang="jp">自分や身近な人が画面中毒の可能性がある場合、相談できる専門機関がたくさんあります。</p>
                    <h3 data-lang="en" style="display: none;">Consult a specialist</h3>
                    <p class="text-muted" data-lang="en" style="display: none;">If you are worried and you or someone close to you may be addicted to screens, there are many specialists you can consult for free.</p>
                </div>
            </div>
        </div>
    </div>

</section>
