<aside class="bg-primary">
    <!-- <div class="bg-primary"> -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: -100px">
                <h2 class="section-heading" data-lang="jp" style="display: none;">私たちについて</h2>
                <h2 class="section-heading" data-lang="en">About us</h2>
                <hr class="light">    
                <hr class="primary">
                <h3 data-lang="jp" style="display: none;">
                    Rexcel Technologies (Rextec) は仙台市の支援を受けて立ち上げた会社です。私達は、学校で効果的かつ低コストで画面中毒をスクリーニングできるツール「レックス・チェック」を開発する企業です。ご質問やご意見がございましたら、ぜひお気軽にお問い合わせください。
                </h3>
                <h3 data-lang="en">
                    Rexcel Technologies (Rextec) is a company founded with the mission to help society overcome emotional reliance on screens and to re-excel without the distractions of digital devices hindering human potential. We are currently developing a screening tool, available in Japan and English-speaking countries, for the early detection of gaming and internet disorders.</p>
                <h3 data-lang="en">
                    Order a Demo!
                </h3>
                <h3 data-lang="jp" style="display: none;">
                    デモの興味
                </h3>
            </div>
            
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <a id="emailLink" href="mailto:{{ site.email }}" data-user="service" data-domain="rextec" data-tld="se">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="color: white"></i>
                <p data-lang="jp" style="display: none; color: white"> メールをみる</p>
                <p data-lang="en" style="color: white">View Email</p>
                <!-- <p style="color: white">service@rextec.se{{ site.email }}</p> -->
            </a>
        </div>
        <div class="container">
            <!-- Copyright section -->
            <div class="row text-center" style="margin-bottom: -120px;margin-top: 250px; color: rgb(255, 255, 255);">
                <p class="copyright-text">© 2025 Rexcel Technologies AB</p>
            </div>
        </div>
    <!-- </div> -->
</aside>
