<section class="bg-primary" id="portfolio" style="background-color:#080808;">
    
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="margin-top: -70px; margin-bottom: 40px ;">
                <h2 data-lang="en">
                    Founders
                </h2>
                <h2 style="display: none;" data-lang="jp">
                    創業者
                </h2>
            </div>
        </div>
        

        <!-- First Box -->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="https://www.linkedin.com/in/kendal-fritzell/" class="portfolio-box page-scroll">
                <img src="/img/portfolio/Kendal profil.jpg" class="img-responsive portfolio-image center-block" alt="" style="max-width:70%;height:auto;">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            CEO
                        </div>
                        <div class="project-name">
                            <p data-lang="en">Kendal Fritzell</p>
                            <p style="display: none;" data-lang="jp">ケンダル</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Second Box -->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="https://www.linkedin.com/in/hans-birkedal/" class="portfolio-box page-scroll">
                <img src="/img/portfolio/Hans take 2.jpg" class="img-responsive portfolio-image center-block" alt="" style="max-width:70%;height:auto;">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            CTO
                        </div>
                        <div class="project-name">
                            <p data-lang="en">Hans Birkedal</p>
                            <p style="display: none;" data-lang="jp">ハンス</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <!-- Third Box -->
        <!-- <div class="col-lg-3 col-sm-12">
            <a href="#contact" class="portfolio-box page-scroll">
                <img src="/img/portfolio/Philip profil.jpg" class="img-responsive portfolio-image" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            <p data-lang="en">IT-& AI Engineer</p>
                            <p style="display: none;" data-lang="jp">IT・AI エンジニア</p>
                        </div>
                        <div class="project-name">
                            <p data-lang="en">Philip Welin-Berger</p>
                            <p style="display: none;" data-lang="jp">フィリップ</p>
                        </div>
                    </div>
                </div>
            </a>
        </div> -->

        <!-- Fourth Box -->
        <!-- <div class="col-lg-3 col-sm-12">
            <a href="#contact" class="portfolio-box page-scroll">
                <img src="/img/portfolio/edited_axel.jpg" class="img-responsive portfolio-image" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            <p data-lang="en">IT-& AI Engineer</p>
                            <p style="display: none;" data-lang="jp">IT・AI エンジニア</p>
                        </div>
                        <div class="project-name">
                            <p data-lang="en">Axel Söderlind</p>
                            <p style="display: none;" data-lang="jp">アクセル</p>
                        </div>
                    </div>
                </div>
            </a>
        </div> -->

    </div>  
</section>
