<header class="header-rexcheck" data-lang="en" style="display: none;">
    <video class="header-video"
    src="/img/cheat_site/eng/rextan_front_vidd.mp4"
    autoplay loop muted playsinline
    poster="/img/cheat_site/eng/rextan_front_vid.svg">
<!-- Fallback for very old browsers -->
<img src="/img/cheat_site/eng/rextan_fallback.svg"
    alt="">
</video>
</header>

<header class="header-feature" data-lang="en" style="display: none;">
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>

<header class="header-workflow" data-lang="en" style="display: none;">
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>

<!-- JP header -->
<header class="header-rexcheck-jp" data-lang="jp">
    <video class="header-video"
           src="/img/cheat_site/jp/rextan_vid_jp.mp4"
           autoplay loop muted playsinline
           poster="/img/cheat_site/jp/rextan_front_jp.svg">
      <img src="/img/cheat_site/jp/rextan_fallback_jp.svg" alt="">
    </video>
  </header>


<header class="header-feature-jp" data-lang="jp">
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>

<header class="header-workflow-jp" data-lang="jp">
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>