<header class="header-rexcheck">
    <video class="header-video"
    src="/img/cheat_site/rextan_front_vid.mp4"
    autoplay loop muted playsinline
    poster="/img/cheat_site/rextan_frontt.svg">
<!-- Fallback for very old browsers -->
<img src="/img/cheat_site/rextan_front_fall.svg"
    alt="">
</video>
</header>

<header class="header-feature">
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>

<header class="header-workflow">
    <div class="header-content">
        <div class="header-content-inner">
        </div>
    </div>
</header>