<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://tohokukai.com/medical/counseling.html" class="portfolio-box">
                    <img src="/img/portfolio/tohokukai_hospital.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                宮城県・仙台市
                            </div>
                            <div class="project-name">
                                東北会病院
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://tohokukai.com/medical/counseling.html" class="portfolio-box">
                    <img src="/img/portfolio/tohokukai_hospital.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                宮城県・仙台市
                            </div>
                            <div class="project-name">
                                東北会病院
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://www.tfu.ac.jp/hospital/program/02.html" class="portfolio-box">
                    <img src="/img/portfolio/touhokufukushi.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                宮城県・仙台市
                            </div>
                            <div class="project-name">
                                東北福祉大学せんだんホスピタル
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="https://www.city.sendai.jp/seshin-kanri/kurashi/kenkotofukushi/kenkoiryo/sodan/seshinhoken/heartport/sodan/kenko.html" class="portfolio-box">
                    <img src="/img/portfolio/sendai.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                宮城県・仙台市
                            </div>
                            <div class="project-name">
                                依存症関連の相談
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
